#wrapper{
	width: 1179px;
	margin: 0 auto;
}

#header, .candidates{
	text-align: center;
}
.candidates{	
	margin: 25px;
}

.candidates a img{
	width: 343px;
	height: auto;
}

footer{
	text-align: center;
}
